/** 
  * Motivation
  * @see https://codepen.io/punkydrewster713/pen/WNrXPrb 
  */
:root {
	--pixel-size: 2px;
	--grid-cell: calc(var(--pixel-size) * 16);
}

.pixel-art {
	image-rendering: pixelated;
}

.character {
	width: var(--character-size);
	height: var(--character-size);
	position: absolute;
	overflow: hidden;
	transition-duration: 0.3s;

	& .name {
		z-index: 9999;
		position: absolute;
		top: calc(var(--character-size) * 0.2);
		font-size: calc(var(--character-size) / 2);
		color: var(--warning-color);
	}

	& .shadow {
		width: var(--character-size);
		height: var(--character-size);
		position: absolute;
		left: 0;
		top: 0;
		background: url('https://assets.codepen.io/21542/DemoRpgCharacterShadow.png')
			no-repeat no-repeat;
		background-size: 100%;
	}

	& .spritesheet {
		position: absolute;
		background: url('https://assets.codepen.io/21542/DemoRpgCharacter.png')
			no-repeat no-repeat;
		background-size: 100%;
		width: calc(var(--grid-cell) * 6);
		height: calc(var(--grid-cell) * 6);

		// Down / Default
		background-position: -7px -16px;
	}

	&[data-facing='Up'] .spritesheet {
		background-position-y: calc(var(--pixel-size) * -56);
	}
	&[data-facing='Right'] .spritesheet {
		background-position-y: calc(var(--pixel-size) * -32);
	}
	&[data-facing='Left'] .spritesheet {
		background-position-y: calc(var(--pixel-size) * -80);
	}
	&[data-walking='true'] .spritesheet {
		animation: walkAnimation 0.6s steps(4) infinite;
	}
}

@keyframes walkAnimation {
	from {
		transform: translate3d(0%, 0%, 0);
	}
	to {
		transform: translate3d(-100%, 0%, 0);
	}
}
