:root {
	// --primary-color: rgb(95,170,255);
	// --secondary-color: rgb(147,96,247);
	// --secondary-color: rgb(219,26,139);

	--base-blue: #1877f2;
	--base-cherry: #f3425f;
	--base-grape: #9360f7;
	--base-lemon: #f7b928;
	--base-lime: #45bd62;
	--base-pink: #ff66bf;
	--base-seafoam: #54c7ec;
	--base-teal: #2abba7;
	--base-tomato: #fb724b;
	// --blue-link: #4599FF;
	--blue-link: #216fdb;

	--color-aluminum: #a3cedf;
	--color-cherry: #f35369;
	--color-grape: #8c72cb;
	--color-lemon: #fcd872;
	--color-lime: #a3ce71;
	--color-orange: #f7923b;
	--color-pink: #ec7ebd;
	--color-seafoam: #54c7ec;
	--color-slate: #b9cad2;
	--color-teal: #6bcebb;
	--color-tomato: #fb724b;
}
