:root {
	--border-radius: 4px;
	--primary-background: #13141b;
	--secondary-background: #1a1d28;

	--primary-color: #86daff;
	--secondary-color: #763ee6;

	--supplementary-color-1: rgb(255, 122, 105);
	--supplementary-color-2: rgb(241, 168, 23);
	--supplementary-color-3: rgb(49, 162, 76);
	--supplementary-color-4: rgb(228, 230, 235);
}
